body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.navbars {
  background-color: #f55a5a;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: #fff;
  letter-spacing: -1px;
}

.globe-icon {
  height: 100px;
}
.navbars > * {
  margin-left: 1vh;
}

.location-img {
  width: 25vh;
  height: 35vh;
  border-radius: 8px;
}

.locations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin: 10vh;
  text-align: start;
}

.location-cards {
  display: flex;
}
.info-group {
  display: flex;
  flex-direction: column;
  margin-left: 5vh;
}
.locationlink {
  color: #918e9b;
}
.location-title {
  text-transform: uppercase;
  padding-right: 40px;
}
